/*CSS Stylesheet*/

body {
text-align: center;

background: linear-gradient(to bottom, white 0%,teal 100%);
height: 960px;
width:auto;

}

#text p {
text-align: center;

font-family: 'Raleway', sans-serif, white;
font-size: 42px;
color: azure;
margin-top:400px; 
letter-spacing: 26px;
text-shadow: darkgray 5px 1px 5px;

}


img {
text-align: center;
max-height: 100px;
max-width: auto;
margin: -1px;

}
#balls {
margin-top: -220px;
margin-right: 20px; 
height: 90px;
width: auto;

}
#ball {
opacity: 0.4;
animation-delay: 2;
animation: move 6s infinite; 
}

#ball2 {
opacity: 0.6;
animation-delay: 2.2s;
animation: move 6s infinite;    
}

#ball3 {
opacity: 0.8;
animation-delay: 2.5s;
animation: move 6s infinite;    
}
#ball4 {
opacity: 1;
animation-delay: 2.8s;
animation: move 6s infinite;    
}
#ball5 {
opacity: 0.8;
animation-delay: 2s;
animation: move 6s infinite;    
}
#ball6 {
opacity: 0.6;
animation-delay: 2.2s;
animation: move 6s infinite;    
}
#ball7 {
opacity: 0.4;
animation-delay: 2.5s;
animation: move 6s infinite;    
}


@keyframes move{
0% {transform: 
rotate(0deg);}

100% {transform: 
rotate(360deg)
    ;
}
}
